/*!****************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./app/entry.module.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************/
.entry_container__EHLvC {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.entry_subcontainer__V0I1a {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  height: 70vh;
  background-color: #0c0c0c;
  opacity: 0.95;
}

.entry_title__TFA17 {
  color: #dcdcdc;
  font-size: 3rem;
  margin-bottom: 20px;
}

.entry_subtitle1__lr3gS {
  color: #dcdcdc;
  font-size: 1.8rem;
  margin-bottom: 5px;
}

.entry_subtitle2__s5xfI {
  font-size: 1.8rem;
  margin-bottom: 20px;
}

.entry_button__X_Y9b {
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  background-color: #0070f3;
  color: white;
  border: none;
  border-radius: 5px;
}

.entry_button__X_Y9b:hover {
  background-color: #005bb5;
}

.entry_button-link___RChQ {
  display: inline-block;
  padding: 10px 20px;
  background-color: #0070f3;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
  margin-left: 20px;
}

.entry_button-link___RChQ:hover {
  background-color: #005bb5;
}
